// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Exo 2',sans-serif;} // font header
.fi {font-family: 'dt-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@red: #e31e24;
@grey: #727271;
@lightgrey: #f1f1f1;
@cp: #000000; // color primary
@cl: #c70000; // color link

// font sizes
@fsp: 16px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 0px;