#page-header {
	margin: 0 0 25px;
	.logo {
		float: left;
		a {
			display: block;
			text-indent: -9999px;
			width: 262px;
			height: 80px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
}
#slideshow {
	position: relative;
	margin: 0 0 33px;
	&:before{
		position: absolute;
		content: '';
		top: 50%;
		left: 0;
		width: 100%;
		border-top: 1px dashed @grey;
	}
}
#products-home, #products {
	position: relative;
	margin: 0 0 60px;
	&:before{
		position: absolute;
		content: '';
		top: 50%;
		left: 0;
		width: 100%;
		border-top: 1px dashed @grey;
	}
}
.home-left {
	float: left;
	width: 46.6%;
}
.home-right {
	float: right;
	width: 46.6%;
}
#col-main {
	float: right;
	width: 68%;
}
#col-left {
	float: left;
	width: 25%;
}
#page-footer {
	margin: 45px 0 0;
	padding: 43px 0;
	min-width: @content-width;
	background: @lightgrey;
	.copy {
		color: @grey;
		float: left;
		font-size: 13px;
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size: 12px;
		a {
			color: @grey;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: 1px 0 0 7px;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 48px;
		text-align: center;
		background: @red;
		border: 1px solid #fff;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e801';
			font-size: 20px;
		}
		&:hover{
			background: darken(@red,5%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}