.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li{
			float: left;
			margin-right: 15px;
			color: @red;
			font-size: 13px;
			&:before{
				top: 2px;
				content: '\e802';
			}
			a {
				color: @cp;
			}
		}
	}
}
.mod_menu-main {
	float: right;
	margin: 52px 0 0;
	ul {
		.rul;
		.clearfix;
		margin: 0 0 0 -50px;
		li {
			.rli;
			.fh;
			font-size: 14px;
			letter-spacing: 1px;
			float: left;
			text-transform: uppercase;
			margin: 0 0 0 30px;
			a {
				display: block;
				height: 38px;
				line-height: 38px;
				color: @cp;
				text-decoration: none;
				&:hover{
					color: @red;
					border-color: @red!important;
				}
			}
			&.home {
				float: right;
				margin-left: 20px;
				a {
					.border-radius(50%);
					width: 38px;
					overflow: hidden;
					white-space: nowrap;
					text-align: center;
					border: 1px solid @cp;
					&:before {
						.fi;
						display: inline-block;
						width: 38px;
						content: '\e800';
						font-size: 20px;
					}
				}
			}
			&.act {
				a {
					color: @red;
					border-color: @red;
				}
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	padding: 34px 33px;
	background: #000;
	.items {
		position: relative;
		height: 340px;
		overflow: hidden;
		.item {
			position: relative;
			figure {
				img {
					display: block;
				}
			}
			.content {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 220px;
				h2 {
					.fh;
					position: relative;
					font-size: 16px;
					margin: 0;
					padding: 13px 20px 16px;
					color: #fff;
					background: #000;
					font-weight: 600;
					letter-spacing: 0.09em;
					background: fade(#000,50%);
				}
				p {
					position: relative;
					font-size: 14px;
					margin: 0 0 1px;
					padding: 16px 20px 23px;
					color: #fff;
					background: #000;
					background: fade(#727271,50%);
				}
				nav {
					position: relative;
					a {
						.fh;
						.transition(0.2s);
						position: relative;
						display: block;
						font-size: 15px;
						line-height: 1.2;
						letter-spacing: 0.1em;
						padding: 15px 40px 15px 20px;
						background: #000;
						color: #fff;
						text-decoration: none;
						text-transform: uppercase;
						background: fade(@red,90%);
						&:hover{
							background: @cp;
						}
						&:before{
							.fi;
							position: absolute;
							content: '\e802';
							top: 50%;
							right: 14px;
							margin-top: -20px;
							height: 40px;
							font-size: 38px;
							line-height: 1;
						}
					}
				}
			}
			&.cycle-slide {
				.content {
					h2 {
						.transition(0.4s);
						left: -200px;
					}
					p {
						.transition(0.7s);
						left: -200px;
					}
					nav {
						.transition(1s);
						left: -200px;
					}
				}
			}
			&.cycle-slide-active {
				.content {
					h2 {
						left: 0;
					}
					p {
						left: 0;
					}
					nav {
						left: 0;
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 999;
		right: 0;
		bottom: 0;
		span {
			.box-shadow(0 0 2px fade(#fff,50%));
			float: left;
			margin: 0 0 0 1px;
			width: 43px;
			height: 0;
			text-indent: -9999px;
			border-top: 6px solid @grey;
			cursor: pointer;
			&:hover{
				border-color: @cp;
			}
			&.cycle-pager-active {
				height: 11px;
				border-color: @cp;
				background: @cp;
			}
		}
	}
}
.mod_custom-products {
	#products-home & {
		padding: 34px;
		background: @red;
	}
	#products & {
		background: #fff;
		ul {
			margin: 0 0 0 67px;
		}
	}
	.mod-title {
		.fh;
		.rotate(-90deg);
		position: absolute;
		left: -34px;
		top: 34px;
		width: 135px;
		height: 66px;
		line-height: 66px;
		background: @red;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.09em;
	}
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			width: 20%;
			padding: 0 0 0 1px;
			a {
				display: block;
				position: relative;
				img {
					display: block;
				}
				span {
					.fh;
					.transition(0.2s);
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 51%;
					padding: 11px 13px 0;
					font-weight: 600;
					color: #fff;
					font-size: 13px;
					line-height: 1.25;
					letter-spacing: 0.09em;
					text-transform: uppercase;
					background: #000;
				}
				&:hover{
					span {
						background: @grey;
					}
				}
			}
		}
	}
}
.mod_custom-chart {
	padding: 18px 0 10px;
	.mod-title {
		.fh;
		position: relative;
		text-transform: uppercase;
		font-size: 28px;
		line-height: 1.2;
		font-weight: 600;
		letter-spacing: 0.1em;
		padding: 0 0 0 48px;
		margin: 0 0 35px;
		color: @red;
		&:before{
			position: absolute;
			content: '';
			top: 18px;
			left: 0;
			height: 160px;
			border-left: 1px dashed @grey;
		}
		&:after{
			position: absolute;
			content: '';
			top: 18px;
			left: 0;
			width: 33px;
			border-top: 1px dashed @grey;
		}
	}
	.items {
		position: relative;
		height: 262px;
		&:before{
			content: '';
			position: absolute;
			top: 78px;
			left: 0;
			right: 0;
			border-top: 1px dashed @grey;
		}
		&:nth-child(even) {
			&:after{
				content: '';
				position: absolute;
				top: 78px;
				right: 0;
				height: 262px;
				border-right: 1px dashed @grey;
			}
		}
		&:nth-child(odd) {
			&:before{
				left: 35px;
			}
		}
		.item {
			.fh;
			display: inline-block;
			position: relative;
			background: #fff;
			float: left;
			width: 180px;
			padding: 0 10px;
			margin: 0 0 0 35px;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.chart {
		.border-radius(50%);
		display: inline-block;
		position: relative;
		width: 160px;
		height: 160px;
		margin: 0 0 12px;
		text-align: center;
		background: @grey;
		border: 8px solid lighten(@grey,13%);
		&:before{
			.border-radius(0 80px 80px 0);
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 50%;
			height: 100%;
			background: lighten(@grey,8%);
		}
		.count_01,.count_02 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&:before{
				.border-radius(0 80px 80px 0);
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 50%;
				height: 100%;
				background: @grey;
			}
		}
		.count_02 {
			&:before{
				.border-radius(80px 0 0 80px);
				right: auto;
				left: 0;
				background: lighten(@grey,8%);
			}
		}
		mark {
			position: relative;
			z-index: 1;
			font-weight: bold;
			display: block;
			line-height: 1;
			font-size: 64px;
			color: #fff;
			padding: 27px 0 0;
			small {
				font-weight: normal;
				display: block;
				font-size: 17px;
			}
		}
	}
}
.mod_newsflash_xart {
	.clearfix;
	margin: 0 0 20px;
	padding: 43px 0 30px;
	border-top: 1px dashed @grey;
	border-bottom: 1px dashed @grey;
	.items {
		margin: 0 -25px;
		.item {
			float: left;
			width: 50%;
			padding: 0 25px;
			line-height: 1.5;
			h2 {
				.fp;
				font-size: 16px;
				margin: 0 0 12px;
			}
			.more {
				.border-radius(50%);
				position: relative;
				top: 2px;
				display: inline-block;
				width: 16px;
				height: 16px;
				line-height: 14px;
				font-size: 12px;
				margin: 0 0 0 5px;
				white-space: nowrap;
				overflow: hidden;
				border: 1px solid @red;
				&:hover{
					color: #fff;
					background: @red;
				}
				&:before{
					.fi;
					display: inline-block;
					content: '\e806';
					width: 14px;
					text-align: center;
				}
			}
		}
	}
}
.mod_custom-button {
	margin: 0 0 55px;
	a {
		.transition(0.2s);
		display: block;
		color: @cp;
		background: @red;
		text-decoration: none;
		padding: 22px 30px;
		&:hover{
			background: darken(@red,5%);
		}
		.mod-title {
			.fh;
			position: relative;
			font-size: 24px;
			line-height: 1.3;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #fff;
			font-weight: 600;
			padding: 0 40px 0 0;
			margin: 0 0 3px;
			&:before{
				.fi;
				position: absolute;
				content: '\e802';
				top: 50%;
				right: 0;
				font-size: 50px;
				line-height: 1;
				height: 50px;
				margin: -25px 0 0;
			}
		}
		p {
			margin: 0;
		}
	}
}
.mod_custom-implementation {
	margin: 0 0 58px;
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-size: 28px;
		line-height: 1.23;
		font-weight: 600;
		color: @grey;
		letter-spacing: 0.1em;
		margin: 0 0 20px;
		&:before{
			.fi;
			.border-radius(50%);
			float: right;
			content: '\e809';
			height: 60px;
			width: 60px;
			line-height: 58px;
			margin: 6px 0 0 20px;
			font-size: 30px;
			text-align: center;
			color: @cp;
			border: 1px solid @cp;
		}
	}
	.thumbnails {
		.rul;
		.clearfix;
		margin: 0 -16px;
		li {
			.rli;
			float: left;
			width: 33.3333%;
			padding: 0 16px 34px;
			&:before{
				left: 50%;
				bottom: 0;
				border-left: 1px dashed @grey;
			}
			img {
				position: relative;
				display: block;
			}
		}
	}
	nav {
		a {
			.fh;
			.transition(0.2s);
			position: relative;
			padding: 20px 30px;
			display: block;
			color: @cp;
			color: #fff;
			background: @grey;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 22px;
			line-height: 1.3;
			font-weight: 600;
			letter-spacing: 0.1em;
			&:hover{
				background: darken(@grey,5%);
			}
			&:before{
				.fi;
				position: absolute;
				content: '\e802';
				top: 50%;
				right: 24px;
				font-size: 42px;
				line-height: 1;
				height: 42px;
				margin: -21px 0 0;
			}
			small {
				.fp;
				text-transform: none;
				font-size: 16px;
				display: block;
				letter-spacing: 0;
				font-weight: normal;
				margin: 5px 0 0;
			}
		}
	}
}
.mod_custom-contact {
	position: relative;
	padding: 0 0 28px;
	margin: 0 0 20px;
	.home-left & {
		border-bottom: 1px dashed @grey;
		&:before{
			position: absolute;
			content: '';
			top: 100px;
			bottom: 0;
			right: 0;
			border-right: 1px dashed @grey;
		}
	}
	#col-left & {
		&:before{
			position: absolute;
			content: '';
			top: 17px;
			right: 0;
			bottom: 123px;
			width: 110px;
			border-right: 1px dashed @grey;
			border-bottom: 1px dashed @grey;
		}
		&:after{
			position: absolute;
			content: '';
			top: 17px;
			right: 0;
			width: 65px;
			border-top: 1px dashed @grey;
		}
	}
	.mod-left {
		width: 43%;
		float: left;
	}
	.mod-right {
		width: 53.6%;
		float: right;
	}
	.mod-title {
		.fh;
		font-size: 28px;
		line-height: 1.2;
		color: @grey;
		font-weight: 600;
		letter-spacing: 0.09em;
		text-transform: uppercase;
		margin: 0 0 17px;
	}
	.subtitle {
		.fh;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0 0 15px;
	}
	.contact {
		line-height: 1.3;
		margin: 0 0 23px;
		mark {
			font-weight: bold;
			color: @red;
			font-size: 22px;
		}
	}
	.media {
		.rul;
		.clearfix;
		#col-left & {
			margin-bottom: 22px;
		}
		li {
			.rli;
			float: left;
			margin: 0 7px 0 0;
			a {
				.border-radius(50%);
				display: block;
				width: 50px;
				height: 50px;
				line-height: 48px;
				color: @cp;
				text-decoration: none;
				border: 1px solid @cp;
				&:hover{
					color: @red;
					border-color: @red;
				}
			}
			&.facebook,&.youtube {
				a {
					&:before{
						.fi;
						display: inline-block;
						font-size: 24px;
						content: '\e80a';
						width: 50px;
					}
				}
			}
			&.youtube{
				a {
					&:before{
						content: '\e80b';
					}
				}
			}
			a {
				display: block;
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
	.map {
		position: relative;
		.home-left & {
			&:before{
				position: absolute;
				content: '';
				top: 100px;
				right: 0;
				width: 32px;
				border-top: 1px dashed @grey;
			}
		}
		#col-left & {
			position: absolute;
			bottom: 16px;
			right: -32px;
		}
		img {
			.border-radius(50%);
		}
		mark {
			.fh;
			.border-radius(50%);
			position: absolute;
			bottom: 0;
			right: 25px;
			width: 74px;
			height: 74px;
			padding: 16px 10px 0;
			text-align: center;
			color: #fff;
			background: @red;
			span {
				display: inline-block;
				line-height: 1.3;
			}
		}
	}
	address {
		font-style: normal;
		.home-right & {
			position: absolute;
			bottom: -10px;
			right: 50px;
			width: 200px;
			padding: 0 0 0 16px;
			background: #fff;
		}
		mark {
			.fh;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0 0 4px;
			letter-spacing: 0.01em;
			display: block;
		}
	}
}
.mod_menu-footer {
	margin: 0 0 23px;
	padding: 0 0 22px;
	border-bottom: 1px dashed @grey;
	ul {
		.rul;
		margin: 0 0 0 -40px;
		li {
			.rli;
			display: inline;
			font-size: 15px;
			margin: 0 0 0 40px;
			a {
				color: @grey;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 40px;
	background: @lightgrey;
	.mod-title {
		.fh;
		font-size: 17px;
		line-height: 1.2;
		font-weight: 600;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding: 20px 24px 14px;
		border-bottom: 1px dashed @grey;
	}
	&>ul {
		.rul;
		padding: 10px 0 17px 25px;
		&>li {
			.rli;
			border-top: 1px dashed darken(@lightgrey,20%);
			&:first-child {
				border-top: none;
			}
			&.act {
				&>a {
					color: @red;
				}
			}
			&>a {
				display: block;
				text-decoration: none;
				color: @cp;
				line-height: 1.2;
				padding: 10px 10px 10px 0;
				&:hover{
					text-decoration: underline;
				}
			}
			ul {
				.rul;
				font-size: 13px;
				padding: 0 0 15px 10px;
				li {
					&:before{
						top: 0;
					}
					a {
						color: @cp;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					&.act {
						&>a {
							color: @red;
						}
					}
				}
			}
		}
	}
}
.mod_menu-banner {
	margin: 0 0 45px;
	ul {
		.rul;
		li {
			.rli;
			a {
				.fh;
				.transition(0.2s);
				display: block;
				padding: 22px 40px 21px 25px;
				text-decoration: none;
				color: #fff;
				font-size: 17px;
				line-height: 1.2;
				letter-spacing: 0.09em;
				background: @red;
				text-transform: uppercase;
				font-weight: 600;
				&:hover{
					background: darken(@red,5%);
				}
				&:before{
					.fi;
					position: absolute;
					content: '\e802';
					top: 25px;
					right: 20px;
					font-size: 42px;
					line-height: 1;
					height: 42px;

				}
				small {
					.fp;
					font-weight: normal;
					display: block;
					font-size: 16px;
					text-transform: none;
					letter-spacing: 0;
					color: @cp;
					margin: 15px -20px 0 0;
				}
			}
			&:nth-child(even) {
				a {
					background: @grey;
					&:hover{
						background: darken(@grey,5%);
					}
					small {
						color: #fff;
					}
				}
			}
		}
	}
}